.green-textfield .MuiOutlinedInput-root {
    border-radius: 10px;
    border: #2e7d32 1px solid;
}

.submitButton {
    width: 100%;
    height: 55px;
    color: white;
    background-color: #2e7d32;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 18px;
}

.info-box {
    background-color: #f0f7f0;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 4px;
    height: 55px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.info-label {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
}

.info-value {
  
    font-size: 18px;
}